.newsHeader {
	width: 100%;
	height: 70px;
}

.headerPop {
	color:white;
	text-shadow: 1px 1px black;
}


.newsTitle {
	color: #8b5394;
	display: inline-block;
	float: right;
	font-size: 26px;
	font-weight: bold;
	font-family: 'Thaleum', serif;
}

.newsDate {
	display: inline-block;
	float: right;
	clear: right;
	font-size: 16px;
}

.newsItem {
	padding: 20px 0 20px 0;
	color: #ae6bac;
	background-color: rgba(0,0,0,0.5);
}

.newsItem iframe[src*="artwork=small"] {
	width: 100% !important;
	height: 120px !important;
}

.newsItem iframe {
	width: 100% !important;
	height: 100% !important;
	max-height: 820px !important;
}

.newsItem img {
	width: 500px;
	text-align: right;
}

.newsItem a {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}